<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= "#{@user.first_name} #{@user.last_name}" %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Tsl class:</b>
  <%= @user.tsl_class %>
</p>

<b>Expertise:</b>
<ul>
  <% @user.skillsets.each do |skill| %>
    <li><%= Expertise.find_by_id(skill.expertise_id).tags %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
